.project-card {
    background-color: #FFFFFFAA !important;
    transition: 0.25s;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
    opacity: 0.85;
}

.project-image {
    width: 100%;
    height: 200px; /* You can adjust the height as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
